<div class="flex justify-start lg:justify-around basis-2/5">
  <app-name-filter (searchOutput)="onNameSearchChange($event)" />
  <app-gems-filter
    class="justify-center hidden gap-2 p-2 border rounded-lg shadow-sm border-base-300 lg:flex h-fit bg-base-200"
  />
</div>
<div
  class="overflow-visible border collapse collapse-arrow bg-base-100 border-info lg:hidden"
>
  <input type="checkbox" #main (change)="isMainOpen = main.checked" />
  <div class="text-xl font-medium collapse-title">Filtres</div>
  <div class="collapse-content">
    <div class="flex flex-col gap-2 md:flex-row">
      <app-meta-view class="flex gap-2" />
      <app-gameplay-view class="flex gap-2 mt-2 md:mt-0" />
    </div>
    <div class="flex flex-col gap-2 md:flex-row md:items-start">
      <div
        class="mt-4 border shadow-sm collapse collapse-plus bg-base-200 border-base-300"
        [ngClass]="{ hidden: !isMainOpen }"
      >
        <input type="checkbox" />
        <div class="text-lg font-medium collapse-title">Gemmes combo</div>
        <div class="collapse-content">
          <app-gems-filter class="flex justify-center gap-4" />
        </div>
      </div>
      <div
        class="mt-4 border shadow-sm collapse collapse-plus bg-base-200 border-base-300"
        [ngClass]="{ hidden: !isMainOpen }"
      >
        <input type="checkbox" />
        <div class="text-lg font-medium collapse-title">Errata et ban</div>
        <div class="collapse-content">
          <app-errata-filter />
          <app-ban-filter />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hidden gap-2 lg:flex lg:flex-col lg:flex-1 basis-3/5">
  <div class="flex gap-2">
    <app-meta-view class="flex gap-2" />
    <app-gameplay-view class="flex gap-2" />
  </div>
  <div class="flex flex-col lg:flex-row">
    <app-errata-filter />
    <app-ban-filter />
  </div>
</div>
