<div class="fixed shadow-md navbar glass justify-evenly">
  <div class="navbar-start w-fit">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-5 h-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li><a role="button" class="btn btn-ghost">Les cartes</a></li>
        <li><a role="button" class="btn btn-ghost">Ma collection</a></li>
        <li><a role="button" class="btn btn-ghost">Deck builder</a></li>
      </ul>
    </div>
    <a class="text-xl btn btn-ghost">Wankul - Le Deck Builder</a>
  </div>
  <div class="hidden navbar-center lg:flex">
    <ul class="px-1 space-x-6 menu menu-horizontal">
      <li><a role="button" class="btn btn-ghost">Les cartes</a></li>
      <li><a role="button" class="btn btn-ghost">Ma collection</a></li>
      <li><a role="button" class="btn btn-ghost">Deck builder</a></li>
    </ul>
  </div>
  <div class="space-x-4 navbar-end w-fit">
    @if (!session) {
    <a routerLink="/sign-in" class="btn btn-outline btn-primary"
      >Se connecter</a
    >
    <a routerLink="/sign-up" class="btn btn-secondary">Créer un compte</a>
    } @else {
    <p>
      Bienvenue
      {{ session.user.user_metadata["username"] }} !
    </p>
    <button (click)="signOut()" role="button" class="btn btn-ghost">
      Déconnexion
    </button>
    }
  </div>
</div>
