<div class="navbar shadow-md glass fixed justify-evenly">
  <div class="navbar-start w-fit">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"
          />
        </svg>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
      >
        <li><a role="button" class="btn btn-ghost">Les cartes</a></li>
        <li><a role="button" class="btn btn-ghost">Ma collection</a></li>
        <li><a role="button" class="btn btn-ghost">Deck builder</a></li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">Wankul - Le Deck Builder</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 space-x-6">
      <li><a role="button" class="btn btn-ghost">Les cartes</a></li>
      <li><a role="button" class="btn btn-ghost">Ma collection</a></li>
      <li><a role="button" class="btn btn-ghost">Deck builder</a></li>
    </ul>
  </div>
  <div class="navbar-end w-fit space-x-4">
    <a class="btn btn-outline btn-primary">Se connecter</a>
    <a class="btn btn-secondary">Créer un compte</a>
  </div>
</div>
