<details class="dropdown" [open]="isDropdownOpen">
  <summary
    class="m-1 btn"
    [attr.aria-expanded]="isDropdownOpen"
    (click)="toggleDropdown()"
    (focusout)="onFocusOut($event)"
  >
    {{ dropdownName() }}
  </summary>
  @if (isDropdownOpen) {
  <ul
    class="menu dropdown-content gap-2 bg-base-100 rounded-box z-[1] w-52 p-2 shadow-sm border border-base-200"
  >
    @for (option of options(); track option) {
    <li>
      <input
        type="checkbox"
        value="{{ option }}"
        [attr.aria-label]="option"
        class="btn"
        (change)="onChange($event)"
      />
    </li>
    }
  </ul>
  }
</details>
